<app-top-bar [name]="'Sell Products'" [rightButtons]="buttons" (buttonClick)="handleButtonClick($event)"></app-top-bar>

<div class="mat-elevation-z8">
    <mat-table [dataSource]="listData"  matSort>
      <ng-container matColumnDef="productName">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>Product Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.description}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Category</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.category}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <app-table-cell-action [actions]="actions" (onActionClick)="onActionClick($event, row)"></app-table-cell-action>
        </mat-cell>
      </ng-container>
      <!-- 
      <ng-container *matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">Loading data...</mat-footer-cell>
      </ng-container>
      <ng-container *matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef colspan="6">No data.</mat-footer-cell>
      </ng-container>
       -->

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  </div>