<mat-toolbar color="primary">
    <h1 mat-dialog-title>{{formTitle}}</h1>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="closeDialog()" tabindex="-1">
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>
<mat-dialog-content class="mat-typography">
    <mat-tab-group class="profile-tab-group" [selectedIndex]="profileIndex" (selectedIndexChange)="updateProfileIndex($event)">
        <mat-tab label="My Details">
            <app-user-details (closeProfileDialogForMe)="closeDialog()"></app-user-details>
        </mat-tab>
        <mat-tab label="Bank Details">
            <app-bank-details (closeProfileDialogForMe)="closeDialog()"></app-bank-details>
        </mat-tab>
        <mat-tab label="Address Details">
            <app-address-details (closeProfileDialogForMe)="closeDialog()"></app-address-details>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>