<app-top-bar [name]="'Sell Products'" [rightButtons]="buttons" (buttonClick)="handleButtonClick($event)"></app-top-bar>

<div class="mat-elevation-z8">
    <mat-table [dataSource]="listData" matSort>
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.product ? element.product.name : ''}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="category">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Category</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.product ? element.product.category : ''}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.product ? element.product.description : ''}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="additional_description">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Additional Description</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.description}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="quantity">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.quantity}} {{element.quantityUnit}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="pricePerUnit">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Price Per Unit</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.pricePerUnit}}</mat-cell>
        </ng-container>
        <!-- 
        <ng-container matColumnDef="expectedPrice">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Expected Price Per Unit</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.expectedPricePerUnit}}</mat-cell>
        </ng-container>
         -->
        <ng-container matColumnDef="city">
            <mat-header-cell *matHeaderCellDef mat-sort-header>City</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.city}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="addedOn">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Added On</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.addedOn}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="soldOn">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Sold On</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.soldOn  | date:'short'}}</mat-cell>
        </ng-container>
        <!-- <ng-container matColumnDef="biddingRate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Bidding Rate</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.biddingRate}}</mat-cell>
      </ng-container> -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button *ngIf="!row.sold" (click)="editProduct(row)"><mat-icon>edit</mat-icon></button>
                <button mat-icon-button *ngIf="!row.sold" color="warn" (click)="deleteProduct(row)"><mat-icon>delete</mat-icon></button>
                <button mat-icon-button color="warn" (click)="viewBidProduct(row)"><mat-icon>dvr</mat-icon></button>
            </mat-cell>
        </ng-container>
        <ng-container *ngIf=matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
                Loading data...
            </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
                No data.
            </mat-footer-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <!-- <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
      <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row> -->
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>