
.my-dashboard {
    div.main {
      width: 100%;
    }
    div.heading {
      border: 1px solid black;
      border-radius: 5px;
      width: 30%;
      text-align: center;
      margin: left;
      color: maroon;
      background-color: #abebc6;
    }
    div.leftside {
      width: 50%;
      height: 100px;
      float: left;
    }
    div.rightside {
      margin-left: 50%;
      height: 100px;
    }
    .box-container {
      border: 1px solid black;
      border-radius: 5px;
      width: 600px;
      margin: left;
      // background-color: #abebc6;
    }
    h3 {
      color: maroon;
    }
  }
  