<div fxLayout="row" fxLayoutAlign="space-between stretch" class="header">

    <div fxLayout="row" fxLayoutAlign="start none">
        <button class="toggler" (click)="toggleSidebar()">☰</button>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <img src="assets/img/farmer-small-icon.ico" alt="Logo" class="logo-img" />
        <span class="app-name">{{ appName }}</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="!isLoggedIn" class="btn" (click)="login()">Login</button>
        <button *ngIf="!isLoggedIn" class="btn" (click)="signUp()">Sign Up</button>
        <!-- todo: remove -->
        <div *ngIf="isLoggedIn" class="profile">
            <span>{{ userName }}</span>
            <button class="btn" (click)="logOut()">Logout</button>
        </div>

        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>settings</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openMyProfile()">
                <mat-icon>person</mat-icon>
                My Profile
            </button>
            <button mat-menu-item (click)="changePassword()">
                <mat-icon>vpn_key</mat-icon>
                Change Password
            </button>
            <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                Disable alerts
            </button>
            <button mat-menu-item (click)="logOut()">
                <mat-icon>exit_to_app</mat-icon>
                Sign out
            </button>
        </mat-menu>
    </div>
</div>


<!-- <mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>

        <span> {{appName}} </span>

        <span class="fill-remaining-space"></span>

        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>settings</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openMyProfile()">
                <mat-icon>person</mat-icon>
                My Profile
            </button>
            <button mat-menu-item (click)="changePassword()">
                <mat-icon>vpn_key</mat-icon>
                Change Password
            </button>
            <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                Disable alerts
            </button>
            <button mat-menu-item (click)="logOut()">
                <mat-icon>exit_to_app</mat-icon>
                Sign out
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar> -->