<app-top-dialog-content [title]="formTitle" (closeClick)="closeDialog()"></app-top-dialog-content>

  <mat-dialog-content class="mat-typography">
  
  <div class="mat-elevation-z8">
      <mat-table [dataSource]="listData"  matSort>
        <ng-container matColumnDef="buyer">
          <mat-header-cell *matHeaderCellDef  mat-sort-header>Buyer</mat-header-cell>
          <mat-cell *matCellDef="let element">{{getBuyerName(element.buyerUserId)}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="sellingRate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Quoted price per unit</mat-header-cell>
          <mat-cell *matCellDef="let element">{{selectedData.pricePerUnit}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="biddingRate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Bidding Rate</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.quotedPricePerUnit}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-icon-button color="green" *ngIf="!selectedData.sold" (click)="acceptProductBid(row)"><mat-icon>check</mat-icon></button>
            <!-- <button mat-icon-button color="warn" *ngIf="!selectedData.sold"  (click)="rejectProductBid(row)"><mat-icon>close</mat-icon></button> -->
          </mat-cell>
        </ng-container>
        <ng-container *ngIf= matColumnDef="loading">
          <mat-footer-cell *matFooterCellDef colspan="6">
            Loading data...
          </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
          <mat-footer-cell *matFooterCellDef colspan="6">
            No data.
          </mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'make-gold': row.accepted}"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
    </div>
  </mat-dialog-content>