<div fxLayout="row" fxLayoutAlign="space-between stretch" class="header" [ngClass]="{'top-bar': setPadding}">

  <div fxLayout="row" fxLayoutAlign="start none">
    <button mat-raised-button *ngFor="let button of leftButtons" (click)="onClick(button.action)">
      <mat-icon *ngIf="button.icon">{{button.icon}}</mat-icon>
      {{button.title}}
    </button>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <span class="app-name">{{ name }}</span>
  </div>

  <div fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button *ngFor="let button of rightButtons" (click)="onClick(button.action)">
      <mat-icon *ngIf="button.icon">{{button.icon}}</mat-icon>
      {{button.title}}
    </button>
  </div>
</div>