
   <div class="my-dashboard">
      <div class="heading">
        <h2>Welcome to KRUSHI BUSINESS</h2>
     </div>
     <br>
     <div class="main">
        <div class="leftside">
          <!-- <h3>Welcome to KRUSHI BUSINESS</h3>-->
           <br>
           <div class="desc">
              <p>
                 "KRUSHI BUSINESS" application help to perform online selling and buying of farm goods between farmer, retailer and buyer.
                 Application help to create virtual market place for connecting farmer directly with retailers and wholesalers.
                 The farmer and buyer can create their profile online where they can update information related with the post of products(like quantity, price, bidding price etc.).
                 The result will be shown to the respective persons in the form of notification. Using this application seller and buyer can deal without any physical efforts.
                 One can easily login anytime, anywhere with correct login id and password and processed for a deal.Seller can search/bid for the product which is 
                 added by farmer so transparency about price is maintain during deal and process of online auction become simple.
              </p>
           </div>
           <h3>Services</h3>
           <div class="services">
              <p style="text-align:center">
                 Farmer post product details.<br>
                 Retailers/wholesalers bid for product.<br>
                 Dealer with highest bid value get select.
              </p>
           </div>
        </div>
     </div>
   </div>
   