<div class="home-page">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span> {{ appName }} </span>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="home-body">
        <div [class.login-form]="!canCreateAccount" [class.signup-form]="canCreateAccount" data-sidebar>
            <section class="container-fluid">
                <section class="row justify-content-center">
                    <section class="col-12 col-sm-8 col-md-4">
                        <div>
                            <app-login *ngIf="!canCreateAccount"></app-login>
                            <app-signup *ngIf="canCreateAccount"></app-signup>
                            {{accountQuestion}} <button type="button" class="mt-1" (click)="toggleAccountOptions()">{{accountBtnText}}</button>
                        </div>
                    </section>
                </section>
            </section>
        </div>

    </div>
</div>