/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.fill-remaining-space {
    flex: 1 1 auto;
}

.dialog-responsive-xs {
    flex: 0 0 100%;
    padding-right: 0;
    padding-left: 0;
}

.flex-column-stretch-gap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
}
// ::ng-deep 
.mat-dialog-container {
    padding: 0 !important;
}

.dialog-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
}

.dialog-footer-bottom-stretch {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0 0 0;
}

.dialog-content {
    max-height: 425px;
    overflow-y: auto;
    padding: 0 20px;
}
