<app-header (toggleSideBarForMe)="sideBarToggler($event)"></app-header>

<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-sidebar [loggedInUser]="loggedInUser" (switchSideBarForMe)="switchSideBarContent($event)"></app-sidebar>
    </mat-drawer>
    <mat-drawer-content >
        <app-dashboard *ngIf="sideBarIndex == 0"></app-dashboard>
        <app-product-list *ngIf="sideBarIndex == 1"></app-product-list>
        <app-actions *ngIf="sideBarIndex == 2"></app-actions>
        <!-- <app-bidlist></app-bidlist> -->
    </mat-drawer-content>
</mat-drawer-container>

<app-footer></app-footer>