<app-top-dialog-content [title]="formTitle" (closeClick)="closeDialog('CANCEL')"></app-top-dialog-content>

<form [formGroup]="productBidForm" class="dialog-content">
    <div class="form-group">
        <label for="bidAmount">Bid Price</label>
        <input type="text" class="form-control" id="bidAmount" formControlName="bidAmount" aria-describedby="emailHelp"
            placeholder="Enter Price">
    </div>
</form>

<div class="dialog-footer-bottom-stretch">
    <button type="submit" class="btn btn-primary btn-block" (click)="saveProductBid()">Submit Bid</button>
</div>